<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>546929377320-vgmh36bgd4lf9poaev7unftb3p70sl4l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.546929377320-vgmh36bgd4lf9poaev7unftb3p70sl4l</string>
	<key>API_KEY</key>
	<string>AIzaSyBdlEM28IRqIijkcc92QQOYCNJj9HVMA1k</string>
	<key>GCM_SENDER_ID</key>
	<string>546929377320</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ahfasxp.firebaseApp</string>
	<key>PROJECT_ID</key>
	<string>fir-app-ba2ef</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-app-ba2ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:546929377320:ios:3d546858b424ccf4f5751d</string>
</dict>
</plist>